.chatList{
    background: gray;
    height: 200px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
.chatBubble{
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: orange;
    max-width: 10rem;
    height: auto;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 1rem 1rem 1rem 0;
    outline: 0.1px solid whitesmoke;
    outline-offset: 0.2rem;
}
.right{
    align-self: flex-end;
    background: lightgreen;
}
.messageInput{
    border: none;
    margin-top: 1rem;
    background: lightgray;
    width: 100%;
    height: 2.5rem;
    padding: 0rem 0.4rem;
}
.messageInput:focus{
    outline: none;
    height: 3rem;
    animation-name: inputAnimation;
    animation-duration: 5s;
}
@keyframes inputAnimation {
    0%{
        height: 2.5rem;
    }
    50%{
        height: 2.75rem;
    }
    100%{
        height: 3rem;
    }
}